body {
    /*Copeland's Laptop
    background-image: url("file:///Users/Copeland/Library/CloudStorage/OneDrive-WentworthInstituteofTechnology/School/Senior%20Year/Spring%202022/Web%20Development/Final%20Project/web_dev_final_Jake_and_Copeland/img/diego-ph-5LOhydOtTKU-unsplash.jpg");
    */
    /*Copeland's Desktop
    background-image: url("D:/VS Code/Website for final/web_dev_final_Jake_and_Copeland/img/diego-ph-5LOhydOtTKU-unsplash.jpg");
    */
    /*Jake's Desktop*/
    background-image: url("C:/Users/Jake Watt/OneDrive/One Drive/OneDrive - Wentworth Institute of Technology/Documents/webdev/web_dev_final_Jake_and_Copeland/img/diego-ph-5LOhydOtTKU-unsplash.jpg");
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
header  {
    text-align: center;
    font-style: bold;
    font-size: 50px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 208, 0) ;
    text-shadow: 10px 10px #00026d;
}

/*Grid Layout*/
.container {
    max-width: 840px;
    margin: 0 auto;
    position: relative;
}
.userInput {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
}
.userInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
#mainBox    {
    margin-top: 50px;
}
.textbtn {
    text-align: center;
    font-size: 30px;
    font-style: oblique;
}
#runspeech  {
    margin-left: 50px;
}
#action {
    margin-left: 50px;
}
.stopwatch  {
    animation-iteration-count: infinite;
    margin-left: 50px;
    margin-top: 50px;
    color: #15ff00;
    font-size: 25px;
    text-shadow: 2px 2px #ca6e05;
}

input[type="button"] {
    margin-left: 50px;
    margin-top: 50px;
    padding: 10px;
    background-color:#6a67ce;
    border: 10px;
    color: #FFFFFF;
    cursor:pointer;
}
.confidence {
    margin-left: 50px;
    color:#0004ff;
}
#confidenceValue    {
    margin-left: 50px;
}
.I-Label    {
    margin-left: 50px;
    color:#0004ff;
}
#font   {
    margin-left: 50px;
    float: middle;
    color: black;
    font-size: 25px;
}

#size   {
    margin-left: 50px;
    float: middle;
    color: black;
    font-size: 25px;
}
#reverse  {
    margin-top: 50px;
    margin-left: 10px;
    color: black;
    cursor:pointer;
    font-size: 25px;
}
#reset  {
    margin-top: 50px;
    margin-left: 25px;
    color: black;
    cursor:pointer;
    font-size: 25px;
}

.project    {
    margin-top: 75px;
    float: right;
    text-decoration:underline;
    text-shadow: 2px 2px #ca6e05;
    font-style: bold;
    font-size: 25px;
}

