
body {
    background-image: url("file:///Users/Copeland/Library/CloudStorage/OneDrive-WentworthInstituteofTechnology/School/Senior%20Year/Spring%202022/Web%20Development/Final%20Project/web_dev_final_Jake_and_Copeland/img/diego-ph-5LOhydOtTKU-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

html {
    font-size: 100%;
}

.container {
    height: 100%;
    width: 75%;
    border: 10px solid black;
    background-color: purple;
    margin-left: 13%;
    margin-right: 13%;
}

header  {
    text-align: center;
    color: #f26135;
}

#mainBox, .selecters, .slidebars, .actions {
    margin-left: 40%;
}
