
body {
    background-image: url("file:///Users/Copeland/Library/CloudStorage/OneDrive-WentworthInstituteofTechnology/School/Senior%20Year/Spring%202022/Web%20Development/Final%20Project/web_dev_final_Jake_and_Copeland/img/diego-ph-5LOhydOtTKU-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header  {
    text-align: center;
    color: #f26135;
}

header, .s-Label{
    text-shadow: 4px 4px 2px rgba(0,0,0,0.8);
}

#mainBox {
    border-radius: 30px;
    padding-top: 12px;
    padding-left: 15px;
}

#Voice, #Language {
    margin-top: 25%;
    margin-bottom: 25%;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    border-radius: 5px;
}

#Volume, #SpeechRate {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    outline: none;
    border-radius: 3px;
}

#Volume::-webkit-slider-thumb, #SpeechRate::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 3;
    position: relative;
}

#Speak, #Reverse, #Reset {
    margin: 10px;
    color: #f26135;
    background-color: black;
    border-radius: 5px;
}

#mainBox, #Speak, #Reverse, #Reset, #Language, #Voice {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.BIG {
    font-size: 100px;
    margin-bottom: 10px;
}

.container {
max-width: 840px;
margin: 0 auto;
}

.userInput{
    display: grid;
    grid-template-columns: 50% 50%;
    color: #f26135;
    padding: 15px;

}

.actions {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    
}

.s-Label {
    margin-top: 25%;
    margin-bottom: 25%;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}



.selecter {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
}

.slidder {
    height: 104px;
    width: 48px;
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translatex(-50%);
    z-index: 2;
}

.slidderButton {
    height: 48px;
    width: 48px;
    
}

@media (max-width: 480px){

    #Voice, #Language {
        margin-top: 25%;
        margin-bottom: 25%;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }

    .BIG {
        font-size: 70px;
        margin-bottom: 10px;
    }

    .userInput{
        display: grid;
        grid-template-columns: 100%;
        color: #f26135;
        padding: 15px;
    
    }

    .s-Label {
        margin-left: 5px;
        margin-right: 20px;
        font-size: 30px;
    }



}
